<!DOCTYPE html>
<html>
<title>Currency Conventer</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="icon" type="image/png" href="https://icons.iconarchive.com/icons/iconsmind/outline/128/Dollar-Sign-2-icon.png"/>

<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
html{
    font-size:18px;
}
.bgimg {
  background-image: url('/static/images/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.main-form{
    margin-bottom:40px;
}
.small-p{
    margin-bottom:0;
}
#amount{
    margin-left:10px;
}
.form-control{
    margin-left:10px;
}
p{

}
</style>
<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
        Currency Conventer
    </div>
    <div class="w3-display-middle">
        <div class="row">
            <div class="col">
                <form class="form-inline main-form" method="POST" action="#">
                    <div class="form-group">
                        <div class="input-group">
                            <form method="POST">
                                <label for="amount">Amount:</label>
                                <input type="text" id="amount" class="form-control" name="amount">
                            </form>
                        </div>
                        <div class="col">
                            <span class="input-group-addon">Please select currency:</span>
                            <select name="comp_select" class="selectpicker form-control">
                                <option value=""></option>
                                {% for o in data %}
                                <option value="{{ o }}">{{ o }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <button type="submit" class="btn btn-success btn-lg">Calculate</button><br>
                    </div>

                    <p class="small-p">Amount:       {{amount}}</p><br>
                    <p class="small-p">Currency:       {{currency}}</p><br>
                    <p >Total price:       {{result}} zł</p><br><br>
                    <p style="color:red;font-size:30px;">{{error_message}}</p>
                </form>
            </div>
        </div>


</body>
</html>